@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Roboto&family=Work+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.select-wrapper {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
}

.select-wrapper {
    background-image: url("/icons/expand.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;
}